html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease-in;
  opacity: 1;
  position: relative;
}

#paneDiv {
  position: absolute;
  top: 12px;
  left: 62px;
  width: 80%;
  padding: 0 12px 0 12px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid white;
  color: black;
}

#resultsDiv {
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}

#activeElevationLayerDiv {
  margin: 10px 0;
}

ul #red {
  color: rgb(150, 26, 15);
}

ul #green {
  color: rgb(21, 150, 15);
}

ul span {
  color: black;
}

ul {
  margin: 0 0 10px 0;
}

#hoydeinfo{
  position: absolute;
  color: white;
  font-family: sans-serif;
  size:1.3em;
  font-weight:bold;
  -webkit-text-stroke: .5px black;
  padding: 10px;
  overflow: hidden;
  background-color: none;
  top: 50px;
  left: 50px;
  margin: auto;
  display: flex;
  border-radius:10px;
  user-select:none;
}

#queryRes, #hitTest{
  width: 250px;
  font-size: 1.2em;
  padding: 5px;
  max-height: 150px;
  border: 1px #ababab solid;
}
#queryRes{
  background-color: #ffcd7d;
}

#hitTest{
background-color: #86c2b9;
}

#contextMenu{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: absolute;
  padding: 10px 5px 2px 5px;
  width: 100px;
  background: #4CAF50;
  border: 1px #349137 solid;
  font-family: sans-serif;
  font-size: 1.2em;
  color: rgb(233, 118, 16);
  top: 100px;
  left: 200px;
  transition: opacity .3s;
}

#contextMenu button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 6px;
  text-align:left;
  text-decoration: none;
  font-size: .8em;
  cursor: pointer;
  width: 100%;
}

#menyIkon{
  font-size: 1.2em;
  position: absolute;
  color: #ff0000;
  top: -11px;
  left: -11px;
}

.esri-ui{
  z-index: 2;
}

.gjemt{
  opacity: 0 !important;
}

.skjult{
  display: none!important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
