@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  margin:0;
  padding:0;
  font-family: "Raleway",sans-serif;
}

#viewDiv{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

#turregistrering{
  position: relative;
}

#info-wrapper{
  border: 3px rgb(115, 115, 115) solid;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 350px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 20px;
  /* overflow-y: scroll;
  max-height: 300px */
}

#topp-registrering{
  width: 100%;
}

#info{
  width: 100%;
}

.form-group{
  display: flex;
  flex-flow: column;
  position: relative;
}

.form-item{
  display: flex;
  flex-flow: column;
}

.generic-wrapper{
  position: relative;
}

.form-item input, .form-item textarea {
  margin-bottom: 15px;
  width: 100%;
}

.toppheading {
  position: relative;
}

.toppheading i{
  position: absolute;
  right: 5px;
  margin: 2px 0;
  transition: 0.2s all;
}

.toppheading i:hover{
  font-weight: 600;
}

.tittel{
  font-size: 1.3em;
  font-weight: bold;
}

#velgtopp {
  width: 100%;
}

#hoyde i{
  position: absolute;
  right: 5px;
  margin: 3px 2px;

}
