<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Turregistrering</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css\prosjektregistrering_style.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://js.arcgis.com/4.6/"></script>
  <script src="js\kart.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="sidepanel"></div>
    <div class="hovedpanel">
      <div id="header">
        <img id="logo" src="img\mountain.svg">
        <h2>Turregistrering</h2>
        <span>?</span>
      </div>
      <!-- Fjelltoppseksjon -->
      <button id="toppdetaljer" class="accordion active" data-regtype="fjell" >Fjelltopp <img class="title-img" src="img\mountain_smll.png" alt=""></button>
      <div id="toppinfo" class="panel aapen" data-regtype="fjell">
        <h3>Toppinformasjon</h3>
        <!-- TODO: Legg til alternativ bakgrunnsfarge/element his bilde ikke kan lastes ned -->
        <p>I denne seksjonen kan du enten velge en eksisterende topp eller registrere en ny topp (<img class="title-img inline-img" src="img\mountain_smll.png" alt="">).</p>
        <!-- Kartet for registrering eller velging av topp -->
        <div id="toppViewDiv">
          <!-- Loader -->
          <div id="loader">
            <img class="image roter-bilde" src="img\weather.svg" alt="" width="120" height="120">
          </div>
          <!-- TODO: Skriv om denne til et nytt klassenavn 'modal' -->
          <div id="kartmodal" class="vegrefModal borte">
            <div class="dimmed"></div>
            <div class="vegref-prompt">
              <p>Informasjonsmodal som skal inneholde diverse innhold knyttet til registreringsprosessen. Må legge til lukkeikon og mange forskjellige elementer</p>
              <p>Informasjonsmodal som skal inneholde diverse innhold knyttet til registreringsprosessen. Må legge til lukkeikon og mange forskjellige elementer</p>
              <p>Informasjonsmodal som skal inneholde diverse innhold knyttet til registreringsprosessen. Må legge til lukkeikon og mange forskjellige elementer</p>
              <p>Informasjonsmodal som skal inneholde diverse innhold knyttet til registreringsprosessen. Må legge til lukkeikon og mange forskjellige elementer</p>
              <p>Informasjonsmodal som skal inneholde diverse innhold knyttet til registreringsprosessen. Må legge til lukkeikon og mange forskjellige elementer</p>
              <p>Informasjonsmodal som skal inneholde diverse innhold knyttet til registreringsprosessen. Må legge til lukkeikon og mange forskjellige elementer</p>
            </div>
          </div>
          <div class="map-ui-component">
            <!-- Infoboks og stedsøk -->
            <div id="sokInfo" >
              <!-- Stedssøk input -->
              <div id="search">
                <input type="text" placeholder="Søk på stedsnavn" :value="stedsNavn" @keyup="stedSok">
                <!-- <input type="text" placeholder="Søk på stedsnavn" :value="stedsNavn" @keyup="stedSok"> -->
              </div>
              <!-- Stedssøk resultat -->
              <transition name="aapne">
                <div id="searchResult" v-if="resultat[0]">
                  <a href="javascript:void(0)" class="closebtn" @click="lukkSok">&times;</a>
                  <ul>
                    <li v-for="item in resultat" :data-x="item.x" :data-y="item.y" @click="slaaOppSted">{{ item.navn }}, {{ item.type }} i {{ item.kommune }}</li>
                  </ul>
                </div>
              </transition>
            </div>
            <!-- <input type="text"  name="search" placeholder="Søk på stedsnavn"> -->
          </div>
          <button class="action-button " id="nyTopp" data-regtype="fjell" type="button"><img src="img\mountain_smll.png" class="kart-img" alt=""></button>
          <button class="action-button borte" id="nyParkering" data-regtype="parkering" type="button"><img src="img\parkering.png" class="kart-img" alt=""></button>
          <button class="action-button borte" id="nyRute" data-regtype="rute" type="button"><img src="img\trail.png" class="kart-img" alt=""></button>
          <button class="action-button borte hide" id="freehandButton" type="button"
            title="Freehand">
            <svg xmlns="http://www.w3.org/2000/svg" width="0.173276in" height="0.194084in" viewbox="0 0 12.4758 13.9741" xml:space="preserve">
              <!-- <style type="text/css">
                .st1 {stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75;fill:none}
              </style><title>Side-1</title> -->
              <g transform="translate(11.6257,-3.96228) rotate(56.2997)"><title>Ark.2</title><path d="M0 10.8C0.07 10.95 0.1 11.14 0.13 11.31 0.28 12.08 0.55 12.35 0.96 12.92 1.24 13.33 1.59 13.88 2.01 13.96 2.32 14.02 2.66 13.84 2.83 13.6 3.15 13.16 2.88 12.51 2.62 11.85 2.47 11.46 2.33 11.07 2.41 10.77 2.51 10.38 2.98 10.15 3.36 10.24 3.99 10.38 4.33 11.4 4.87 12.08 5.7 13.13 7.01 13.38 8.06 12.71 8.68 12.31 9.21 11.58 9.53 10.88 9.88 10.1 9.96 9.36 9.67 8.6 9.49 8.12 9.15 7.62 8.71 7.36 8.26 7.09 7.71 7.06 7.32 7.31 6.66 7.74 6.47 8.98 6.84 9.79 7.68 11.61 11.41 11.19 12.24 10.8" class="st1"/></g></svg>
          </button>
          <button class="action-button esri-icon-rotate-back borte hide" id="undoButton" type="button" title="Undo"></button>
          <button class="action-button esri-icon-trash borte hide" id="resetBtn" type="button" title="Clear graphics"></button>
        </div>
        <div id="fjelltopFormWrapper">
          <div  class="form-wrapper" v-if="lagretGrafikk">
            <form id="toppregistrering" name="toppregistrering" >
              <p>Felter merket med * er obligatoriske</p>
              <div class="formitem">
                <label for="toppnavn">Navn *</label>
                <input type="text" name="toppnavn" placeholder="Skriv inn fjellets navn" required v-model="fjellSkjema.navn.verdi">
              </div>

              <div class="formitem">
                <label for="topphoyde">Høyde *</label>
                <div id="dato">
                  <input type="number" min="0" max="2700" name="topphoyde" placeholder="moh" required v-model="fjellSkjema.hoyde.verdi"><span> moh.</span>
                </div>
              </div>

              <div class="formitem">
                <label for="beskrivelse">Beskrivelse *</label>
                <textarea  name="beskrivelse" placeholder="Skriv inn en beskrivelse av turen" rows="8" cols="80" v-model="fjellSkjema.beskrivelse"></textarea>
              </div>

              <div class="formitem">
                <label for="merknad">Merknad</label>
                <textarea  name="merknad" placeholder="Skriv inn en merknad av turen om det finnes noen" rows="4" cols="80" v-model="fjellSkjema.merknad"></textarea>
              </div>

              <div id="valideringForm" class="message">
              </div>
            </form>
            <div class="knapperad">
              <button type="button" class="knapp" name="registrerFjelltopp" @click="registrerTopp">Registrer fjelltopp</button>
              <button type="button" class="knapp" name="" @click="resetkart">Prøv igjen</button>
            </div>
          </div>
        </div>
        <div id="valgtFjelltopp" name="valgt-topp-info">
          <div class="vue-wrapper" v-if="valgttopp.navn.length > 0">
            <div class="valg-resultat">
              <p><b>Navn:</b> {{ valgttopp.navn }}</p>
              <p><b>Høyde:</b>  {{ valgttopp.hoyde }} moh.</p>
              <p><b>Beskrivelse:</b> {{ valgttopp.beskrivelse }}</p>
              <p><b>Merknad:</b> {{ valgttopp.merknad }}</p>
            </div>
            <p><span><i>Er dette riktig fjelltopp?</i></span></p>
            <div class="knapperad">
              <button type="button" class="knapp" name="velgtopp" @click="velgtopp">Velg topp</button>
              <button type="button" class="knapp" name="velgnytopp" @click="velgnytopp">Prøv igjen</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Parkerings-seksjon -->
      <button id="parkeringregistrering" class="accordion" data-regtype="parkering">Parkering <img class="title-img" src="img\parkering.png" alt=""></button>
      <div id="parkeringinfo" class="panel" data-regtype="parkering" >
        <p>I denne seksjonen kan du enten velge en allerede registrert parkering eller registrere en ny parkering (<img class="title-img inline-img" src="img\parkering.png" alt="">).</p>
        <!-- Skjema for registrering parkeringsinfo -->
        <div id="parkeringInfoWrapper">
          <div  class="form-wrapper" v-if="lagretGrafikk">
            <form name="parkeringregistrering" class="valg-resultat">
              <h3>Parkeringformasjon</h3>
              <small>Felter merket med * er obligatoriske</small>
              <div class="formitem">
                <label for="parkeringnavn">Navn *</label>
                <input type="text" name="parkeringnavn" placeholder="Skriv inn parkeringsplassens navn" required>
              </div>

              <div class="formitem">
                <label for="">Antall parkeringsplasser *</label>
                <select name="vegavdeling" required v-model="parkeringSkjema.antallplasser">
                  <option value="" disabled selected>Velg antall parkeringsplasser</option>
                  <option value="0 - 5">0 - 5</option>
                  <option value="5 - 10">5 - 10</option>
                  <option value="10 - 15">10 - 15</option>
                  <option value="15 +">15 +</option>
                </select>
              </div>

              <div class="formitem">
                <label for="">Vinterbrøytet *</label>
                <select name="vegavdeling" required v-model="parkeringSkjema.broytet">
                  <option value="" disabled selected>Velg alternativ</option>
                  <option value="ja">Ja</option>
                  <option value="nei">Nei</option>
                </select>
              </div>

              <div class="formitem">
                <label for="merknad">Merknad</label>
                <textarea  name="merknad" placeholder="Skriv inn en merknad om parkeringen om det finnes noen" rows="8" cols="80" v-model="parkeringSkjema.merknad"></textarea>
              </div>
            </form>
            <div class="knapperad">
              <button type="button" class="knapp" name="registrerParkering" @click="registrerParkering">Registrer parkering</button>
              <button type="button" class="knapp" name="" @click="resetkart">Prøv igjen</button>
            </div>
          </div>
            <div class="vue-wrapper" v-if="valgtparkering.friluftstype">
              <div class="valg-resultat">
                <p><b>Navn:</b> {{ valgtparkering.navn }}</p>
                <p><b>Antall plasser:</b>  {{ valgtparkering.plasser }} plasser</p>
                <p><b>Vinterbrøytet:</b> {{ valgtparkering.broytet }}</p>
                <p><b>Merknad:</b> {{ valgtparkering.merknad }}</p>
              </div>
              <p><span><i>Er dette riktig parkeringsplass?</i></span></p>
              <div class="knapperad">
                <button type="button" class="knapp" name="velgparkering" @click="velgparkering">Velg parkering</button>
                <button type="button" class="knapp" name="velgnyparking" @click="resetValgtParkering">Prøv igjen</button>
              </div>
            </div>
          <div class="message">
          </div>
        </div>
      </div>

      <!-- Registrer rute -->
      <button id="ruteregistrering" class="accordion" data-regtype="rute">Rute <img class="title-img" src="img\trail.png" alt=""></button>
      <div id="ruteinfo" class="panel" data-regtype="rute">
          <p>I denne seksjonen kan du registrere en ny rute/spor (<img class="title-img inline-img" src="img\trail.png" alt="">).</p>
          <!-- Skjema for registrering parkeringsinfo -->
          <div id="ruteInfoWrapper">
            <div  class="form-wrapper" v-if="lagretGrafikk">
              <form name="parkeringregistrering" class="valg-resultat">
                <h3>Ruteinformasjon</h3>
                <small>Felter merket med * er obligatoriske</small>
                <div class="formitem">
                  <label for="parkeringnavn">Navn *</label>
                  <input type="text" name="parkeringnavn" placeholder="Skriv inn parkeringsplassens navn" required>
                </div>

                <div class="formitem">
                  <label for="">Antall parkeringsplasser *</label>
                  <select name="vegavdeling" required>
                    <option value="" disabled selected>Velg antall parkeringsplasser</option>
                    <option value="0 - 5">0 - 5</option>
                    <option value="5 - 10">5 - 10</option>
                    <option value="10 - 15">10 - 15</option>
                    <option value="15 +">15 +</option>
                  </select>
                </div>

                <div class="formitem">
                  <label for="">Vinterbrøytet *</label>
                  <select name="vegavdeling" required>
                    <option value="" disabled selected>Velg alternativ</option>
                    <option value="ja">Ja</option>
                    <option value="nei">Nei</option>
                  </select>
                </div>

                <div class="formitem">
                  <label for="merknad">Merknad</label>
                  <textarea  name="merknad" placeholder="Skriv inn en merknad om parkeringen om det finnes noen" rows="8" cols="80"></textarea>
                </div>
              </form>
              <div class="knapperad">
                <button type="button" class="knapp" name="registrerParkering">Registrer parkering</button>
                <button type="button" class="knapp" name="" @click="resetkart">Prøv igjen</button>
              </div>
            </div>
            <div class="message">
            </div>
          </div>
      </div>

      <button id="sendinn" class="accordion">Send inn</button>
      <div id="submit" class="panel">
        <div id="sluttmelding" class="errorMessage">
          <p>Registreringen av prosjekt med navn <span id="prosjektVerdi">Prosjektnavn</span> er fullført</p>
          <p>For å se en kartoversikt over registrerte prosjekter i region Nord kan du gå inn på <a href="http://vegvesen.maps.arcgis.com/apps/webappviewer/index.html?id=2c6b9e7a5a57410c9d833c7cb0e5c6b2" target="#">dette</a> kartet</p>
          <p>Om du vil registrere et nytt prosjekt kan du gjøre dette ved å trykke på knappen under</p>
        </div>
        <button type="button" name="nyttprosjekt">Registrer nytt prosjekt</button>
      </div>
    </div>
    <div class="sidepanel"></div>
  </div>
  <script type="text/javascript" src="js\prosjektregistrering.js"></script>
</body>
</html>
